<a href="https://colab.research.google.com/github/SilvioCSOliveira/ChallengeDataScience2022AluraVoz/blob/main/ChallengeDataScience2022AluraVoz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Imports
import pandas as pd
import json
from pandas import json_normalize
# Configurações para melhor visualização dos dados
pd.set_option('display.max_columns',100)
pd.set_option('display.max_colwidth', None)

Entender quais informações o conjunto de dados possui

In [2]:
# Carregar dados repositório git do desafio

df = pd.read_json('https://raw.githubusercontent.com/SilvioCSOliveira/ChallengeDataScience2022AluraVoz/main/Telco-Customer-Churn.json')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [3]:
# Visualizar conteúdo do arquivo json 
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Partner': 'Yes', 'Dependents': 'Yes', 'tenure': 9}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': 'No', 'OnlineBackup': 'Yes', 'DeviceProtection': 'No', 'TechSupport': 'Yes', 'StreamingTV': 'Yes', 'StreamingMovies': 'No'}","{'Contract': 'One year', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Mailed check', 'Charges': {'Monthly': 65.6, 'Total': '593.3'}}"
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partner': 'No', 'Dependents': 'No', 'tenure': 9}","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': 'No', 'OnlineBackup': 'No', 'DeviceProtection': 'No', 'TechSupport': 'No', 'StreamingTV': 'No', 'StreamingMovies': 'Yes'}","{'Contract': 'Month-to-month', 'PaperlessBilling': 'No', 'PaymentMethod': 'Mailed check', 'Charges': {'Monthly': 59.9, 'Total': '542.4'}}"
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partner': 'No', 'Dependents': 'No', 'tenure': 4}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecurity': 'No', 'OnlineBackup': 'No', 'DeviceProtection': 'Yes', 'TechSupport': 'No', 'StreamingTV': 'No', 'StreamingMovies': 'No'}","{'Contract': 'Month-to-month', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Electronic check', 'Charges': {'Monthly': 73.9, 'Total': '280.85'}}"
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partner': 'Yes', 'Dependents': 'No', 'tenure': 13}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecurity': 'No', 'OnlineBackup': 'Yes', 'DeviceProtection': 'Yes', 'TechSupport': 'No', 'StreamingTV': 'Yes', 'StreamingMovies': 'Yes'}","{'Contract': 'Month-to-month', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Electronic check', 'Charges': {'Monthly': 98.0, 'Total': '1237.85'}}"
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Partner': 'Yes', 'Dependents': 'No', 'tenure': 3}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecurity': 'No', 'OnlineBackup': 'No', 'DeviceProtection': 'No', 'TechSupport': 'Yes', 'StreamingTV': 'Yes', 'StreamingMovies': 'No'}","{'Contract': 'Month-to-month', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Mailed check', 'Charges': {'Monthly': 83.9, 'Total': '267.4'}}"

In [ ]:
# 'serializar' campos que possuem jsons no seu conteúdo,  customer phone internet e account
df_customer = pd.json_normalize(data = df.customer) 
df_phone = pd.json_normalize(data = df.phone) 
df_internet = pd.json_normalize(data = df.internet) 
df_account = pd.json_normalize(data = df.account)

In [5]:
# 'Juntar' campos jsons 'serializados' e retirar campos que possuem jsons no seu conteúdo
df_telco_customer = pd.concat([df, df_customer,df_phone,df_internet,df_account], axis = 1)
df_telco_customer = df_telco_customer.drop(columns = ['phone','customer','internet','account'])

df_telco_customer.head(1)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3

Traduzir as colunas

In [12]:
df_telco_customer.rename(columns={'customerID' : 'IdCliente',	
'Churn': 'ClienteCancelado',
'gender' : 'Genero'	,
'SeniorCitizen' : 'Maior65',
'Partner' : 'Parceiro(a)',
'Dependents': 'Dependentes',
'tenure' : 'TempoContrato(m)',
'PhoneService' : 'ServiçoTelefônico',
'MultipleLines' : 'MultiplasLinhas',
'InternetService' : 'ServicoInternet',
'OnlineSecurity' : 'AdicinalSegurancaOnline',
'OnlineBackup' : 'AdicionalBackup',
'DeviceProtection' : 'AdicionalProtDispositivo',
'TechSupport' : 'AdicionalSuporte',
'StreamingTV': 'AssinaturaTv',
'StreamingMovies' : 'AssinaturaFilmes',
'Contract' : 'TipoContrato',
'PaperlessBilling': 'FaturaDigital',
'PaymentMethod': 'FormaPagamento',
'Charges.Monthly': 'GastoMensal' ,
'Charges.Total': 'GastoTotal'}, inplace=True)

df_telco_customer.head(1)

,IdCliente,ClienteCancelado,Genero,Maior65,Parceiro(a),Dependentes,TempoContrato(m),ServiçoTelefônico,MultiplasLinhas,ServicoInternet,AdicinalSegurancaOnline,AdicionalBackup,AdicionalProtDispositivo,AdicionalSuporte,AssinaturaTv,AssinaturaFilmes,TipoContrato,FaturaDigital,FormaPagamento,GastoMensal,GastoTotal
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3

Conhecer o conteúdo das colunas, verificar quais são as inconsistências nos dados e  Corrigir as inconsistências nos dados

In [13]:
df_telco_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   IdCliente                 7267 non-null   object
 1   ClienteCancelado          7267 non-null   object
 2   Genero                    7267 non-null   object
 3   Maior65                   7267 non-null   int64
 4   Parceiro(a)               7267 non-null   object
 5   Dependentes               7267 non-null   object
 6   TempoContrato(m)          7267 non-null   int64
 7   ServiçoTelefônico         7267 non-null   object
 8   MultiplasLinhas           7267 non-null   object
 9   ServicoInternet           7267 non-null   object
 10  AdicinalSegurancaOnline   7267 non-null   object
 11  AdicionalBackup           7267 non-null   object
 12  AdicionalProtDispositivo  7267 non-null   object
 13  AdicionalSuporte          7267 non-null   object
 14  AssinaturaTv              7267 non-null   object
 15  AssinaturaFilmes          7267 non-null   object
 16  TipoContrato              7267 non-null   object
 17  FaturaDigital             7267 non-null   object
 18  FormaPagamento            7267 non-null   object
 19  GastoMensal               7267 non-null   float64
 20  GastoTotal                7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [32]:
# Verificando o conteúdo dos campos
df_telco_customer['IdCliente'].value_counts()

0002-ORFBO    1
6614-VBEGU    1
6637-KYRCV    1
6635-MYYYZ    1
6635-CPNUN    1
             ..
3374-TTZTK    1
3374-PZLXD    1
3374-LXDEV    1
3373-YZZYM    1
9995-HOTOH    1
Name: IdCliente, Length: 7267, dtype: int64
No     5174
Yes    1869
        224
Name: ClienteCancelado, dtype: int64

In [28]:
df_telco_customer['ClienteCancelado'].value_counts()
# 224 nulos

No     5174
Yes    1869
        224
Name: ClienteCancelado, dtype: int64

In [29]:
df_telco_customer['Genero'].value_counts()
# Ok

Male      3675
Female    3592
Name: Genero, dtype: int64

In [33]:
df_telco_customer['Maior65'].value_counts()
# Aparentemente a coluna indica que o assinante titular é Maior65 = 1 e não é = 0, pois

0    6085
1    1182
Name: Maior65, dtype: int64

In [7]:
# Analisar quais os tipos de dados
# Verificar quais são as inconsistências nos dados
# Corrigir as inconsistências nos dados
''' 
Traduzir as colunas
Criar coluna de contas diárias
'''

' \nTraduzir as colunas\nCriar coluna de contas diárias\n'