<a href="https://colab.research.google.com/github/SilvioCSOliveira/ChallengeDataScience2022AluraVoz/blob/main/ChallengeDataScience2022AluraVoz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Imports
import pandas as pd
import json
from pandas import json_normalize
# Configurações para melhor visualização dos dados
pd.set_option('display.max_columns',100)
pd.set_option('display.max_colwidth', None)

Entender quais informações o conjunto de dados possui

In [2]:
# Carregar dados repositório git do desafio

df = pd.read_json('https://raw.githubusercontent.com/SilvioCSOliveira/ChallengeDataScience2022AluraVoz/main/Telco-Customer-Churn.json')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [3]:
# Visualizar conteúdo do arquivo json 
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Partner': 'Yes', 'Dependents': 'Yes', 'tenure': 9}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': 'No', 'OnlineBackup': 'Yes', 'DeviceProtection': 'No', 'TechSupport': 'Yes', 'StreamingTV': 'Yes', 'StreamingMovies': 'No'}","{'Contract': 'One year', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Mailed check', 'Charges': {'Monthly': 65.6, 'Total': '593.3'}}"
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partner': 'No', 'Dependents': 'No', 'tenure': 9}","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': 'No', 'OnlineBackup': 'No', 'DeviceProtection': 'No', 'TechSupport': 'No', 'StreamingTV': 'No', 'StreamingMovies': 'Yes'}","{'Contract': 'Month-to-month', 'PaperlessBilling': 'No', 'PaymentMethod': 'Mailed check', 'Charges': {'Monthly': 59.9, 'Total': '542.4'}}"
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partner': 'No', 'Dependents': 'No', 'tenure': 4}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecurity': 'No', 'OnlineBackup': 'No', 'DeviceProtection': 'Yes', 'TechSupport': 'No', 'StreamingTV': 'No', 'StreamingMovies': 'No'}","{'Contract': 'Month-to-month', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Electronic check', 'Charges': {'Monthly': 73.9, 'Total': '280.85'}}"
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partner': 'Yes', 'Dependents': 'No', 'tenure': 13}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecurity': 'No', 'OnlineBackup': 'Yes', 'DeviceProtection': 'Yes', 'TechSupport': 'No', 'StreamingTV': 'Yes', 'StreamingMovies': 'Yes'}","{'Contract': 'Month-to-month', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Electronic check', 'Charges': {'Monthly': 98.0, 'Total': '1237.85'}}"
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Partner': 'Yes', 'Dependents': 'No', 'tenure': 3}","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecurity': 'No', 'OnlineBackup': 'No', 'DeviceProtection': 'No', 'TechSupport': 'Yes', 'StreamingTV': 'Yes', 'StreamingMovies': 'No'}","{'Contract': 'Month-to-month', 'PaperlessBilling': 'Yes', 'PaymentMethod': 'Mailed check', 'Charges': {'Monthly': 83.9, 'Total': '267.4'}}"

In [4]:
# 'serializar' campos que possuem jsons no seu conteúdo,  customer phone internet e account
df_customer = pd.json_normalize(data = df.customer) 
df_phone = pd.json_normalize(data = df.phone) 
df_internet = pd.json_normalize(data = df.internet) 
df_account = pd.json_normalize(data = df.account) 
df_customer.head()

   gender  SeniorCitizen Partner Dependents  tenure
0  Female              0     Yes        Yes       9
1    Male              0      No         No       9
2    Male              0      No         No       4
3    Male              1     Yes         No      13
4  Female              1     Yes         No       3

In [6]:
# 'Juntar' campos jsons 'serializados' e retirar campos que possuem jsons no seu conteúdo
df_telco_customer = pd.concat([df, df_customer,df_phone,df_internet,df_account], axis = 1)
df_telco_customer = df_telco_customer.drop(columns = ['phone','customer','internet','account'])

df_telco_customer.head(1)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3

Traduzir as colunas

In [12]:

'''# 
'customerID' : 'IdCliente',	
'Churn': 'ClienteCancelado',
'gender' : 'Genero'	,
'SeniorCitizen' : 'Maior65',
'Partner' : 'Parceiro(a)',
'Dependents': 'Dependentes',
'tenure' : 'TempoContrato(m)',
'PhoneService' : 'ServiçoTelefônico',
'MultipleLines' : 'MultiplasLinhas',
'InternetService' : 'ServicoInternet',
'OnlineSecurity' : 'AdicinalSegurancaOnline',
'OnlineBackup' : 'AdicionalBackup',
'DeviceProtection' : 'AdicionalProtDispositivo',
'TechSupport' : 'AdicionalSuporte',
'StreamingTV': 'AssinaturaTv',
'StreamingMovies' : 'AssinaturaFilmes'
  	Contract	PaperlessBilling	PaymentMethod	Charges.Monthly	Charges.Tota'''

df_telco_customer.rename(columns={'customerID' : 'IdCliente',	
'Churn': 'ClienteCancelado',
'gender' : 'Genero'	,
'SeniorCitizen' : 'Maior65',
'Partner' : 'Parceiro(a)',
'Dependents': 'Dependentes',
'tenure' : 'TempoContrato(m)',
'PhoneService' : 'ServiçoTelefônico',
'MultipleLines' : 'MultiplasLinhas',
'InternetService' : 'ServicoInternet',
'OnlineSecurity' : 'AdicinalSegurancaOnline',
'OnlineBackup' : 'AdicionalBackup',
'DeviceProtection' : 'AdicionalProtDispositivo',
'TechSupport' : 'AdicionalSuporte',
'StreamingTV': 'AssinaturaTv',
'StreamingMovies' : 'AssinaturaFilmes'}, inplace=True)

df_telco_customer.head()

,IdCliente,ClienteCancelado,Genero,Maior65,Parceiro(a),Dependentes,TempoContrato(m),ServiçoTelefônico,MultiplasLinhas,ServicoInternet,AdicinalSegurancaOnline,AdicionalBackup,AdicionalProtDispositivo,AdicionalSuporte,AssinaturaTv,AssinaturaFilmes,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [ ]:
# Analisar quais os tipos de dados
# Verificar quais são as inconsistências nos dados
# Corrigir as inconsistências nos dados
''' 
Traduzir as colunas
Criar coluna de contas diárias
'''